{% extends 'base.html' %}

{% load staticfiles %}

{% load bootstrap_toolkit %}

{% block title %}Add a Category{% endblock %}

{% block body_block %}
	<div class='page-header'>
		<h1 class='form-signin-heading'>Add a Category</h1>
	</div>
	<div>
		<form role='form' id='category_form' method='post' action="{% url 'add_category' %}">
			{% csrf_token %}

			{{ form|as_bootstrap }}
			
			<br />
			<input class='btn btn-primary' type='submit' name='submit' value='Create Category' />
		</form>
	</div>
{% endblock %}