<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
	</head>
	<body>
		{% block body_block %}{% endblock %}
		<hr />
		<div>
			<ul>
			{% if user.is_authenticated %}
				<li><a href="{% url 'restricted' %}">Restriced Page</a></li>
				<li><a href="{% url 'auth_logout' %}?next=/rango/">Log Out</a></li>
				<li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
				<li><a href="{% url 'add_category' %}">Add a New Category</a></li>
			{% else %}
				<li><a href="{% url 'registration_register' %}">Register Here</a></li>
				<li><a href="{% url 'auth_login' %}">Log In</a></li>
			{% endif %}
				<li><a href="{% url 'about' %}">About</a></li>
				<li><a href="{% url 'index' %}">Home</a></li>
			</ul>
	</body>
</html>