{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}

	{% if user.is_authenticated %}
		<h1>Rango says... hello {{ user.username }}!</h1>
	{% else %}
		<h1>Rango says... hello world!</h1>
	{% endif %}

	<h3>Top 5 Most Liked Categories</h3>
	{% if categories %}
		<ul>
			{% for category in categories %}
			<li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}
	
	<h3>Top 5 Most Viewed Pages</h3>
	{% if pages %}
		<ul>
			{% for page in pages %}
			<li><a href='{{ page.url }}'>{{ page.title }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no pages present.</strong>
	{% endif %}	
	
	<img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />

	 <p> visits: {{ visits }}</p>
{% endblock %}