<!DOCTYPE html>
<html>
	<head>
		<title>Rango</title>
	</head>
	<body>
		<h1>Register with Rango</h1>
		{% if registered %}
			Rango says: <strong>Thank you for registering!</strong><br />
			<a href='/rango/'>Return to the homepage.</a><br />
		{% else %}
			Rango says: <strong>Register here!</strong><br />

			<form id='user_form' method='post' action='/rango/register/' enctype='multipart/form-data'>
				{% csrf_token %}
				{{ user_form.as_p }}
				{{ profile_form.as_p }}
				<input type='submit' name='submit' value='Register' />
			</form>

		{% endif %}
	</body>
</html>