{% extends 'base.html' %}

{% block body_block %}
	<div class='page-header'>
		<h1>Log In to Rango</h1>
	</div>
	<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
	<div>
		<form class='form-signin' role='form' method='post' action='.'>
			{% csrf_token %}
			<h2 class='form-signin-heading'>Please sign in</h2>
			<input class='form-control' placeholder='Username' id='id_username' maxlength='254' name='username' type='text' required autofocus='' />
			<input class='form-control' placeholder='Password' id='id_password' name='password' type='password' required />
			<button class='btb btn-lg btn-primary btn-block' type='submit' value='Submit'>Sign in</button>
		</form>
		<p>Not a member? <a href="{% url 'registration_register' %}">Register</a>!</p>
	</div>
{% endblock %}